@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    font-weight: 200;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    font-size: 0.9em;
}

hr {
    border: 0;
    height: 1px;
    background: #888;
    margin: 15px 0 5px 0;
}

/*
 *  Nav menu
 */

nav {
    background-color: #f7f7f7;
    height: 100vh;
    width: 350px;
    z-index: 1;
    transform: translate(-350px, 0);
    transition: transform 0.5s ease;
    position: absolute;
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.4);
    padding: 0 15px 10px 15px;
}

.open {
    transform: translate(0, 0);
}

#closenav {
    font-size: 42px;
    position: absolute;
    right: 0px;
    margin: 0 20px 0 0;
    color: #a0a0a0;
}

#closenav:hover {
    cursor: pointer;
    color: red;
}

nav .button {
    font-size: 1em;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

nav .form {
    width: 100%;
}

.text-input {
    font-size: 1em;
    width: 100%;
    padding: 7px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.form p {
    padding-top: 15px;
    margin: 0 0 10px 0;
}

.submit {
    background-color: #3f9cff;
    color: white;
    border: 2px solid #3f9cff;
    margin-right: 5px;
}

.submit:hover {
    background-color: #f7f7f7;
    color: #3f9cff;
}

.clear {
    background-color: #c4c4c4;
    color: white;
    border: 2px solid #c4c4c4;
}

.clear:hover {
    background-color: #f7f7f7;
    color: #c4c4c4;
}

#search {
    top: 60px;
    margin-top: 60px;
}

#list ul {
    list-style-type: none;
    padding: 0;
}

#list li {
    padding: 20px 10px 20px 15px;
}

#list li:hover {
    cursor: pointer;
}

#list-name {
    font-weight: 400;
    margin: 0;
    width: 70%;
    display: inline-block;
}

#list-categories {
    font-weight: 200;
    color: #727272;
    margin: 0.2em 0 0 1em;
}

.highlighted {
    background-color: #7abaff;
}

.selected {
    background-color: #7abaff;
}

/*
 *  Main area
 */

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

header {
    height: 60px;
    width: 100%;
    flex: 0 0 auto;
    background-color: #4c8ef7;
    display: inline-flex;
    align-items: center;
}

#opennav {
    font-size: 1.5em;
    color: white;
    margin-left: 20px;
}

#opennav:hover {
    cursor: pointer;
}

#map {
    width: 100%;
    flex: 1 1 auto;
}

#infoWindow {
    max-width: 300px;
}

.rating {
    height: 40px;
    line-height: 40px;
    width: 40px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    color: white;
}

@media screen and (min-width: 1000px) {
    body {
        font-size: 1em;
    }
    nav {
        z-index: 1;
        transform: translate(0, 0);
        position: static;
        width: 350px;
    }
    #closenav {
        visibility: hidden;
    }
    #opennav {
        visibility: hidden;
    }
    main {
        flex: 1;
    }
}
